In [1]:
# Notebook to preprocess the datasets and create new datasets required for the analysis.
# import required packages
import numpy as np
import pandas as pd

drivers=pd.read_csv('.//data//drivers.csv')
champresults=pd.read_csv('.//data//driver_standings.csv')
qualiresults=pd.read_csv('.//data//qualifying.csv')
racedata=pd.read_csv('.//data//races.csv')
raceresults=pd.read_csv('.//data//results.csv')

In [6]:
drivers['driverId']

0        1
1        2
2        3
3        4
4        5
      ...
852    854
853    855
854    856
855    857
856    858
Name: driverId, Length: 857, dtype: int64

Build array with the raceId of the first and last race each year.

In [30]:
racedataPerYear=racedata.groupby('year')
listracesperyear=[racedataPerYear.get_group(x) for x in racedataPerYear.groups]
raceIdyearSplitter=[[x['year'].min(), x['raceId'].min(), x['raceId'].max()] for x in listracesperyear ]

In [57]:
raceIdyearSplitter[59]

[2009, 1, 17]

In [62]:
drivers[drivers['driverId']==153]

,driverId,driverRef,number,code,forename,surname,dob,nationality,url
152,153,alguersuari,\N,ALG,Jaime,Alguersuari,1990-03-23,Spanish,http://en.wikipedia.org/wiki/Jaime_Alguersuari

In [60]:
champresults[champresults['raceId']==17]

,driverStandingsId,raceId,driverId,points,position,positionText,wins
18405,29863,17,18,95.0,1,1,6
18406,29864,17,22,77.0,3,3,2
18407,29865,17,15,32.5,8,8,0
18408,29866,17,10,24.0,10,10,0
18409,29867,17,4,26.0,9,9,0
18410,29868,17,3,34.5,7,7,0
18411,29869,17,67,6.0,16,16,0
18412,29870,17,7,2.0,19,19,0
18413,29871,17,16,5.0,17,17,0
18414,29872,17,2,19.0,13,13,0
18415,29873,17,21,8.0,15,15,0
18416,29874,17,17,69.5,4,4,2
18417,29875,17,20,84.0,2,2,4
18418,29876,17,9,17.0,14,14,0
18419,29877,17,8,48.0,6,6,1
18420,29878,17,13,22.0,11,11,0
18421,29879,17,12,0.0,21,21,0
18422,29880,17,6,0.0,20,20,0
18423,29881,17,5,22.0,12,12,0
18424,29882,17,1,49.0,5,5,2
18425,29883,17,153,0.0,24,24,0
18426,29884,17,154,0.0,23,23,0
18427,29885,17,69,0.0,25,25,0
18428,29886,17,24,0.0,22,22,0
18429,29887,17,155,3.0,18,18,0

In [ ]:
#I need to get the initial and final raceID of each season from 1990 to 2022
#Then, get the driversID for all those seasons.
#Then, get season standings at the end of each season
#For each driver in each season, get a vector with all their race and qualy positions.
#The champresults at each final race seems to contain all the drivers that took part in that year.
#THe results at initial races contain only the ones that scored points at the beginning.