In [2]:
# Notebook to preprocess the datasets and create new datasets required for the analysis.
# import required packages
import numpy as np
import pandas as pd

drivers=pd.read_csv('.//data//drivers.csv')
champresults=pd.read_csv('.//data//driver_standings.csv')
qualiresults=pd.read_csv('.//data//qualifying.csv')
racedata=pd.read_csv('.//data//races.csv')
raceresults=pd.read_csv('.//data//results.csv')

In [3]:
drivers['driverId']

0        1
1        2
2        3
3        4
4        5
      ...
852    854
853    855
854    856
855    857
856    858
Name: driverId, Length: 857, dtype: int64

Build array with the raceId of the first and last race each year.

In [12]:
racedataPerYear=racedata.groupby('year')
listracesperyear=[racedataPerYear.get_group(x) for x in racedataPerYear.groups]
raceIdyearSplitter=np.array([[x['year'].min(), x['raceId'].min(), x['raceId'].max()] for x in listracesperyear ])

Select a year from which we will start considering the results and then build an array with each driver in each year. If a driver competed several years, they will appear several times since each competed season will be a different data point.

In [56]:
minYearToConsider=1990
i, = np.where( raceIdyearSplitter[:,0] == 1990)
data_array=[]
for j in range(int(i),len(raceIdyearSplitter[:,0])-2,1): #I exclude the year 2023 due to being incomplete.
    for ind, row in champresults[champresults['raceId']==raceIdyearSplitter[j,2]][['driverId','position']].iterrows():
        data_array.append([raceIdyearSplitter[j,0], row['driverId'],row['position']])

Convert the array to a Pandas DataFrame. This is the basic Data Frame we will use.
Now, we will append columns describing the season of each driver in each year: race results, quali results.

In [57]:
driverData=pd.DataFrame(data_array,columns=['Year','Driver','Championship Position'])

In [58]:
driverData.head()

   Year  Driver  Championship Position
0  1990      65                     35
1  1990     152                     39
2  1990      88                     12
3  1990      95                      5
4  1990      77                      4

In [51]:
champresults[champresults['raceId']==raceIdyearSplitter[40,2]][['driverId','position']]

      driverId  position
7187        65        35
7188       152        39
7189        88        12
7190        95         5
7191        77         4
7192       148        22
7193       129        31
7194       110        27
7195       101        34
7196       139        26
7197       133        16
7198       112        23
7199        92        37
7200       150        40
7201       149        38
7202       114        25
7203        99        32
7204       109        29
7205        81        33
7206       140        36
7207       151        20
7208        78        19
7209       118        14
7210       122        10
7211       117         2
7212       147        28
7213       127        18
7214        90        11
7215       146        30
7216       145         8
7499       102         1
7500       105        24
7501       103        13
7502        94        21
7503       138        15
7504       131        17
7505       137         3
7548       123         6
7549        55         9
7570       119         7

In [ ]:
#I need to get the initial and final raceID of each season from 1990 to 2022
#Then, get the driversID for all those seasons.
#Then, get season standings at the end of each season
#For each driver in each season, get a vector with all their race and qualy positions.
#The champresults at each final race seems to contain all the drivers that took part in that year.
#THe results at initial races contain only the ones that scored points at the beginning.